<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Team Players List
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-card>
            <ion-card-header>
                <ion-card-title *ngIf="team_name && team_city">{{team_name}} - {{team_city}}
                </ion-card-title>
            </ion-card-header>
            <ion-list>
                <li *ngFor="let player of players">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>{{player.player_name}} - {{player.mobile_no}}
                            </ion-card-subtitle>
                        </ion-card-header>
                    </ion-card>
                </li>
            </ion-list>
        </ion-card>

    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title color="primary" routerLink="/add-players/{{team_id}}">ADD PLAYERS</ion-title>
    </ion-toolbar>
</ion-footer>