<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Add Teams
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content id="TeamForm">
    <form [formGroup]="TeamForm">
        <ion-list>
            <ion-card-content>
                <ion-item>
                    <ion-input placeholder="Team Name" formControlName="team_name" type="text" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input placeholder="City" formControlName="team_city" type="text" required></ion-input>
                </ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <ion-button center block icon-start color="primary" large (click)="createTeam()">
                                ADD TEAM
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div *ngIf="!TeamForm.controls.team_name.valid " class="danger" padding>
                </div>
            </ion-card-content>
        </ion-list>
    </form>
</ion-content>
<ion-content>
    <h2>Team List</h2>
    <ion-list>
        <li *ngFor="let team of teams">
            <ion-card routerLink="/players/{{team.team_id}}">
                <ion-card-header>
                    <ion-card-subtitle>{{team.team_name}} - {{team.team_city}}</ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </li>
    </ion-list>
</ion-content>